body {
	font-family: Arial, sans-serif;
	text-align: center;
}

.container {
	margin: 50px auto;
	width: 80%;
	max-width: 600px;
}

h1 {
	color: red;
	font-size: 48px;
}

ul {
	list-style: none;
	padding: 0;
}

li:before {
	content: "\2764\fe0f";
	margin-right: 10px;
	color: red;
}

img {
	margin: 20px auto;
	max-width: 200px;
}

button {
	padding: 10px 20px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

p#love {
	font-size: 24px;
	font-weight: bold;
	color: red;
	margin-top: 20px;
	display: none;
}
